In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import json

## Load the data in a data frame and execute the head function.

In [2]:
transactions = []
days_in_month = 31
for i in range (1,days_in_month+1):
  for line in open('data/return-data/2017-01-'+str(i).zfill(2)+'.txt', 'r'):
    transactions.append(json.loads(line))
transactions_df = pd.DataFrame.from_dict(transactions)
transactions_df.head()

,basket,returnLabel,totalAmount,transactionId,zipCode
0,"[4, 3, 0, 0, 4, 4, 0, 4, 2, 5, 4]",0,693,8220990793,2233
1,"[3, 1, 2, 2, 1, 0, 1]",0,427,9895968997,1854
2,[5],0,59,7013881318,7480
3,"[0, 4]",0,86,2976689328,1166
4,"[3, 1, 2, 3, 3, 5]",0,312,9014690264,6574

## Do not implement the following parts from the tutorial: "Exploratory Data Analysis", "Missing Data", "Data Cleaning".

## Use the column "returnLabel" as the target variable.

## Use the column "totalAmount" as a feature (yes, we only use one feature in this exercise).

## Do a train/test data split.

In [3]:
from sklearn.model_selection import train_test_split

X = transactions_df.totalAmount
y = transactions_df.returnLabel
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

X_train = X_train.to_frame()
X_test = X_test.to_frame()

## Train a logistic regression model on the train data.

In [4]:
from sklearn.linear_model import LogisticRegression

logmodel = LogisticRegression(solver='lbfgs')
logmodel.fit(X_train, y_train)

predictions = logmodel.predict(X_test)

## Evaluate your classifier on the test data and print the results.

In [5]:
from sklearn.metrics import classification_report
import sklearn.metrics as metrics

print(classification_report(y_test,predictions))
print("Accuracy:",metrics.accuracy_score(y_test, predictions))

              precision    recall  f1-score   support

           0       0.97      1.00      0.99      9029
           1       0.00      0.00      0.00       271

   micro avg       0.97      0.97      0.97      9300
   macro avg       0.49      0.50      0.49      9300
weighted avg       0.94      0.97      0.96      9300

Accuracy: 0.970752688172043